{% extends "demo/home.html" %}

{% block alt %}
    {% load static %}
    <div class="label-after">After</div>
    <hr>
    {% if img_alt_url == None %}
        <img src="" alt="No Image Found.">
        {% else %}
        <img src="{% static img_alt_url %}" alt="After Image">
    {% endif %}
    <hr>
{% endblock alt %}

{% block raw %}
    <div class="label-before">Before</div>
    <hr>
    <img src="{% static img_raw_url %}" alt="Before Image">
    <hr>
{% endblock raw %} 

{% block num %}
    <h2>Faces Found</h2>
    <div class="total">{{faces_num}}</div>
{% endblock num %}

{% block next_link %}
    <a href="/{{next_page}}" class="btn btn-primary">Next</a>
{% endblock next_link %}